/* Modal and Options */
#indiegala-helper{
  color:white;
  padding-top:80px
}
#indiegala-helper .modal-content {
  max-height: calc(100vh - 150px);
  overflow: hidden;
}
#indiegala-helper .modal-content {
  padding: 0px;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #606468;
  background-color: #272727;
  text-align:center;
}
#indiegala-helper .modal-header {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 0px transparent;
}
#indiegala-helper .modal-body {
  max-height: calc(100vh - 320px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #474747;
}
.higher-level {
  -webkit-filter: blur(2px);
	filter:blur(2px);
  transition: 0.5s;
}
.higher-level:hover {
  -webkit-filter: blur(0px);
	filter:blur(0px);
}
.higher-level.owned {
  -webkit-filter: blur(2px) grayscale(100%);
	filter:blur(2px) grayscale(100%);
  transition: 0.5s;
}
.higher-level.owned:hover {
  -webkit-filter: blur(0px) grayscale(0%);
	filter:blur(0px) grayscale(0%);
}
.owned {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
}
.owned:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.owned .bundle-page-tier-item-platforms::after {
    content: "[OWNED]";
}
#indiegala-helper-pageloading {
  text-align: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  color: white;
}
/* GIVE AWAYS */
.owned .items-list-item-type::before {
    content: "[OWNED] - ";
}
.page-contents-list-cont .items-list-col {
  display:none;
}
.items-list-item a.view-on-steam {
  position: absolute;
  right: 0px;
  top: 0px;
}
.items-list-item a.add-to-blacklist {
  position: absolute;
  left: 0px;
  top: 0px;
}
.items-list-item a.view-on-steam:hover {
    color: #2980b9;
}

.items-list-item a.add-to-blacklist:hover {
    color: #c0392b;
}
#indiegala-helper-coins {
  position: fixed;
  z-index: 100;
  top: 80px;
  right: 0px;
  padding: 10px;
  background-color: #272727;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #000;
  color:white;
}
/* TRADES */
.trade-cont .not-guaranteed-trade{
  background:#D67400 !important;
}
.trade-cont.owned .trade-type:after{
  content:" | (OWNED)";
}
.trade_box{
  overflow:hidden;
}
.trade_img .add-to-blacklist{
  left:-120px;
}
.trade_img:hover > .add-to-blacklist{
  left:-98px;
}
.trade-cont.left {
  display:none;
  width:33.3% !important;
  padding-left:9px;
  padding-right:9px;
  margin-right:0px !important;
}
/* PROFILE */
.span-key {
	position: relative;
	overflow: hidden;
}
.span-key .donate_indiegala_helper {
	position: absolute;
	top: 1px;
	right: 1px;
	color: rgb(52, 152, 219);
	cursor: pointer;
	height: 24px;
	line-height: 10px;
	padding: 3px 10px;
}
.span-key .donate-text-view {
	left: -173px;
	top: -1px;
	height: 24px;
	line-height: 6px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
}
.donate_indiegala_helper {
	position: absolute;
	top: 0px;
	right: 0px;
	color: rgb(52, 152, 219);
	cursor: pointer;
}
.donate-text-view {
	position: absolute;
	top: 0px;
	left: -167px;
	height: 33px;
	line-height: 15px;
	padding: 9px;
	display: none;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.order-button-profile-press.activate_steam_key .donate-text-view {
  top: 1px;
  left: 85px;
}
.donate_indiegala_helper:hover > .donate-text-view,
.activate_steam_key:hover > .donate-text-view {
	display: block;
}
.activate_steam_key {
	position: absolute;
	top: 0px;
	left: 0px;
	color: rgb(52, 152, 219);
	cursor: pointer;
}
i.fa.fa-thumbs-down {
  color: #c0392b;
}
i.fa.fa-thumbs-up {
  color: #27ae60;
}
div > i.fa.fa-check{
  color: #2980b9
}

/* DARK MODE */
body.dark-mode {
  background: #333;
}

body.dark-mode .main-container-fixed-bg {
    background: url(https://i.imgur.com/msLWkCE.png) 50% top fixed no-repeat;
    background-size: cover;
    color: #D9D6D6;
}

body.dark-mode a, body.dark-mode a:hover {
    color: whitesmoke;
}

body.dark-mode a.page-contents-list-submenu-current-level {
    color: #333;
}

body.dark-mode .items-list-item-title,
body.dark-mode .community .main-page .items-list-item .items-list-item-data {
    background: #404040 !important;
}

body.dark-mode .community .main-page .items-list-item .items-list-item-tooth {
    background: none;
}

body.dark-mode .main-page .items-list-item .items-list-item-data-left-bottom {
    color: #D9D6D6;
}

body.dark-mode .pagination .page-link-cont span.current {
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
}
