#indiegala-helper{
	color:white;
	padding-top:80px
}
#indiegala-helper .modal-content{
	max-height: calc(100vh - 150px);
	overflow: hidden;
}
#indiegala-helper .modal-content, #indiegala-helper-header {
    padding: 10px;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #606468;
    background-color: #2c2f39;
	text-align:center;
}
#indiegala-helper .modal-body {
	max-height: calc(100vh - 320px);
	overflow-x: hidden;
	overflow-y: auto;
}
#indiegala-helper a,
#indiegala-helper a:visited {
    text-decoration: none;
    color: #fff;
}
#indiegala-helper input:not([type='checkbox']),
#indiegala-helper label {
    height: 49px;
    box-shadow: 0 1px 1px #292a32;
}
#indiegala-helper input:not([type='submit']) {
    font-weight: 600;
    box-sizing: border-box;
    width: 235px;
    height: 49px;
    padding-right: 4px;
    padding-left: 18px;
    color: #fff;
    border-style: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline-style: none;
    background-color: #3b4148;
}
#indiegala-helper label {
    display: inline-block;
    width: 46px;
    text-align: center;
    vertical-align: top;
    color: #606468;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #363b41;
}
#indiegala-helper i[class^='fa'] {
    line-height: 1.2;
    color: #606468;
}
#indiegala-helper .nav>li>a:focus,
#indiegala-helper .nav-tabs>li.active>a{
    background-color: #A70000;
	color:#fff;
}
#indiegala-helper .nav>li>a:hover {
    background-color: #CC001D;
	color:#fff;
}
#indiegala-helper .input-wrapper {
    margin-bottom: 13px;
}
#indiegala-helper ::-webkit-input-placeholder {
    color: #767a7f;
}
#indiegala-helper ::-moz-placeholder {
    color: #767a7f;
}
#indiegala-helper :-moz-placeholder {
    color: #767a7f;
}
#indiegala-helper :-ms-input-placeholder {
    color: #767a7f;
}
#indiegala-helper span {
    color: #85868b;
}
#indiegala-helper-header h2 {
    color: #fff;
	cursor:pointer !important;
}
#indiegala-helper input[type='submit'] {
    font-weight: 600;
    width: 280px;
    margin-top: 14px;
    text-transform: uppercase;
    color: #fff;
    border-style: none;
    border-radius: 3px;
}
#indiegala-helper p {
    text-align: center;
}
.owned {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: 1s;
}
.owned:hover{
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.owned .bundle-item-cont:hover{
	opacity: 0.8;
}
.owned .bundle-item-header:after{
	content:"(owned)";
	float:right;
	font-size:80%;
}
/* GIVE AWAYS */
.tickets-col {
	display:none;
}
.price-type-cont.palette-background-7{
	background:#D67400 !important;
}
.tickets-col .main {
	color: #CC001D;
}
.tickets-col .main.unknown {
	color: #000;
}
.tickets-col a.viewOnSteam {
	font-family:Arial, sans-serif !important;
	text-shadow:none !important;
}
.tickets-col a.viewOnSteam:hover {
	color: #CC001D;
}
#indiegala-helper-coins {
    position: fixed;
    top: 80px;
    right: 0px;
    padding: 10px;
    background-color: #A70000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #000;
    color:white;
}
#indiegala-helper-pageloading {
	text-align: center;
	width: 100%;
	margin-top: 80px;
	margin-bottom: 80px;
	color: white;
}
.ticket-left{
	overflow: hidden;
	position: relative;
}
.ticket-left:hover > .mark-as-owned{
	left:-93px;
}
.mark-as-owned {
    position: absolute;
    top: 0px;
    left: -100%;
	color:white;
    background-color: #A70000;
    padding: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
	cursor:pointer !important;
}
.mark-as-owned:hover {
    left: 0px !important;
}
/* TRADES */
.trade-cont .not-guaranteed-trade{
	background:#D67400 !important;
}
.trade-cont.owned .trade-type:after{
	content:" | (OWNED)";
}
/* PROFILE */
#checkAllGiveaways{
    font-weight: 600;
    width: 200px;
    text-transform: uppercase;
    color: #fff;
    border-style: none;
    border-radius: 3px;
}
.trade_box{
	overflow:hidden;
}
.trade_img:hover > .mark-as-owned{
	left:-109px;
}
.trade-cont.left {
	display:none;
	width:33.3% !important;
	padding-left:9px;
	padding-right:9px;
	margin-right:0px !important;
}