/* Modal and Options */
#indiegala-helper{
  color:white;
  padding-top:80px
}
#indiegala-helper .modal-content {
  max-height: calc(100vh - 150px);
  overflow: hidden;
}
#indiegala-helper .modal-content {
  padding: 0px;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #606468;
  background-color: #272727;
  text-align:center;
}
#indiegala-helper .modal-header {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 0px transparent;
}
#indiegala-helper .modal-body {
  max-height: calc(100vh - 320px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #474747;
}
.giv-game-img {
	opacity:1 !important;
}
.higher-level {
  -webkit-filter: blur(2px);
	filter:blur(2px);
  transition: 0.5s;
}
.higher-level:hover {
  -webkit-filter: blur(0px);
	filter:blur(0px);
}
.higher-level.owned {
  -webkit-filter: blur(2px) grayscale(100%);
	filter:blur(2px) grayscale(100%);
  transition: 0.5s;
}
.higher-level.owned:hover {
  -webkit-filter: blur(0px) grayscale(0%);
	filter:blur(0px) grayscale(0%);
}
.owned {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
}
.owned:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.owned .bundle-item-cont:hover{
  opacity: 0.8;
}
.owned .bundle-item-header:after{
  content:"(owned)";
  float:right;
  font-size:80%;
}
#indiegala-helper-pageloading {
  text-align: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  color: white;
}
/* GIVE AWAYS */
.giveaways-main-page .page-nav{
  margin-top: 15px;
}
.tickets-col {
  display:none;
}
.price-type-cont.palette-background-7{
  background:#D67400 !important;
}
.tickets-col .main {
  color: #CC001D;
}
.tickets-col .main.unknown {
  color: #000;
}
.tickets-col a.viewOnSteam {
  font-family:Arial, sans-serif !important;
  text-shadow:none !important;
}
.tickets-col a.viewOnSteam:hover {
  color: #CC001D;
}
#indiegala-helper-coins {
  position: fixed;
  top: 80px;
  right: 0px;
  padding: 10px;
  background-color: #272727;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #000;
  color:white;
}
.ticket-left{
  overflow: hidden;
  position: relative;
}
.ticket-left .mark-as-owned{
	left: -105px;
}
.ticket-left:hover > .mark-as-owned{
	left: -83px;
}
.mark-as-owned {
  position: absolute;
  top: 0px;
	z-index: 1;
  color:white;
  background-color: #A70000;
  padding: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s;
  cursor:pointer !important;
}
.mark-as-owned:hover {
  left: 0px !important;
}
aside.animated-coupon.checked {
	cursor: alias;
}
/* TRADES */
.trade-cont .not-guaranteed-trade{
  background:#D67400 !important;
}
.trade-cont.owned .trade-type:after{
  content:" | (OWNED)";
}
.trade_box{
  overflow:hidden;
}
.trade_img .mark-as-owned{
  left:-120px;
}
.trade_img:hover > .mark-as-owned{
  left:-98px;
}
.trade-cont.left {
  display:none;
  width:33.3% !important;
  padding-left:9px;
  padding-right:9px;
  margin-right:0px !important;
}
/* PROFILE */
.span-key {
	position: relative;
	overflow: hidden;
}
.span-key .donate_indiegala_helper {
	position: absolute;
	top: 1px;
	right: 1px;
	color: rgb(52, 152, 219);
	cursor: pointer;
	height: 24px;
	line-height: 10px;
	padding: 3px 10px;
}
.span-key .donate-text-view {
	left: -173px;
	top: -1px;
	height: 24px;
	line-height: 6px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
}
.donate_indiegala_helper {
	position: absolute;
	top: 0px;
	right: 0px;
	color: rgb(52, 152, 219);
	cursor: pointer;
}
.donate-text-view {
	position: absolute;
	top: 0px;
	left: -167px;
	height: 33px;
	line-height: 15px;
	padding: 9px;
	display: none;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.donate_indiegala_helper:hover > .donate-text-view{
	display: block;
}
i.fa.fa-thumbs-down {
  color: #c0392b;
}
i.fa.fa-thumbs-up {
  color: #27ae60;
}
div > i.fa.fa-check{
  color: #2980b9
}

/* FIXES */
#ajax-giv-list-cont {
  position: relative !important;
}

.container > div.spacer-v-15 {
  clear: both;
}